* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Inter", sans-serif;
  }
  
  header {
    background-color: black;
    width: 100%;
    height: 75px;
    position: sticky;
    top: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
    z-index: 90000000000000000000;
  }
  @media (max-width: 480px) {
    header {
      height: 75px;
      position: fixed;
      top: 0;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: flex-end;
      align-items: flex-end;
      z-index: 90000000000000000000;
    }
  }
  header #Logo {
    position: fixed;
    left: 0;
    height: 75px;
    width: 75px;
  }
  header #Logo:hover {
    transform: rotate(360deg);
    transition: all 1s ease;
  }
  @media (max-width: 480px) {
    header #Logo {
      height: 30px;
      width: 30px;
    }
  }
  header ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
  }
  header ul #Inicio {
    position: fixed;
    left: 100px;
    color: antiquewhite;
  }
  header ul #Inicio:hover {
    color: grey;
    z-index: 1;
  }
  @media (max-width: 480px) {
    header ul #Inicio {
      display: none;
      position: fixed;
      left: 100px;
    }
  }
  header ul .list-item {
    color: antiquewhite;
    font-size: 25px;
    font-weight: 400;
    padding: 24px;
    text-decoration: none;
    font-family: "Inter", sans-serif;
  }
  @media (max-width: 480px) {
    header ul .list-item {
      font-size: 13px;
      font-weight: 400;
      padding: 8px 4px;
    }
  }
  header ul li a {
    color: aliceblue;
    text-decoration: none;
  }
  header ul li a:hover {
    color: grey;
    width: 100%;
    z-index: 1;
  }
  
  footer {
    background-color: rgb(62, 61, 61);
    position: relative;
    height: 75px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    bottom: 0;
  }
  footer p {
    color: white;
    margin-left: 40px;
  }
  @media (max-width: 480px) {
    footer {
      position: fixed;
    }
  }
  
  @media (max-width: 480px) {
    .margintopmq {
      margin-top: 80px;
    }
  }
  .footer-contacto {
    position: fixed;
  }
  
  .container-contacto {
    position: relative;
    top: -74px;
  }
  @media (max-width: 480px) {
    .container-contacto {
      position: unset;
      top: unset;
    }
  }
  
  .main-contacto {
    background-image: url(../recursos/fondoropas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    height: 95vh;
  }
  @media (max-width: 480px) {
    .main-contacto {
      background-position: 85%;
    }
  }
  .main-contacto .margintop {
    height: 438px;
    margin-top: 120px;
  }
  @media (max-width: 480px) {
    .main-contacto .margintop {
      margin-top: 100px;
    }
  }
  .main-contacto .margintop .texto-redes {
    margin-left: 20px;
    position: relative;
    left: -20px;
  }
  @media (max-width: 480px) {
    .main-contacto .margintop .texto-redes {
      font-weight: 1000;
      left: none;
      text-align: center;
    }
  }
  .main-contacto .margintop .ul-contacto {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    justify-content: center;
    padding-right: 270px;
    padding-top: 30px;
  }
  @media (max-width: 480px) {
    .main-contacto .margintop .ul-contacto {
      display: flex;
      flex-direction: row;
      align-items: center;
      list-style-type: none;
      justify-content: center;
      padding-right: 50px;
      padding-top: 30px;
    }
  }
  .main-contacto .margintop .ul-contacto .li-contacto {
    margin-right: 10px;
  }
  .main-contacto .margintop .ul-contacto .li-contacto .a-contacto {
    background-color: brown;
    color: white;
    border-radius: 50px;
    padding: 10;
    list-style-type: none;
    margin-left: 10px;
    text-decoration: none;
  }
  .main-contacto .margintop .ul-contacto .li-contacto .a-contacto:hover {
    background-color: rgb(236, 43, 43);
  }
  .main-contacto .margintop .ul-contacto .li-contacto .a-contacto:active {
    background-color: rgb(100, 15, 15);
  }
  @media (max-width: 480px) {
    .main-contacto .margintop .ul-contacto .li-contacto .a-contacto {
      background-color: brown;
      color: white;
      border-radius: 50px;
      padding: 10;
      list-style-type: none;
      margin-left: 10px;
    }
  }
  .main-contacto .margintop .fuente-texto {
    font-family: "Inter", sans-serif;
    font-weight: 700;
  }
  @media (max-width: 480px) {
    .main-contacto .margintop .fuente-texto {
      font-family: "Inter", sans-serif;
      font-weight: 1000;
      color: white;
    }
  }
  .main-contacto .margintop .btn-enviar {
    background-color: gainsboro;
    color: black;
    border-radius: 50px;
    padding: 10;
    text-decoration: none;
  }
  .main-contacto .margintop .btn-enviar:hover {
    background-color: gray;
  }
  .main-contacto .margintop .btn-enviar:active {
    background-color: lightslategrey;
  }
  
  #mainIndex {
    margin-top: 0;
    margin-bottom: 0;
  }
  #mainIndex #Hero {
    width: 100%;
    height: 95vh;
    background-image: url(../recursos/Fondo-busters2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
  }
  #mainIndex #Hero #Titulo {
    font-size: 85px;
    font-weight: 500;
    color: black;
    text-shadow: floralwhite;
    position: relative;
    top: 30px;
    left: 100px;
    width: fit-content;
  }
  @media (max-width: 480px) {
    #mainIndex #Hero #Titulo {
      font-size: 85px;
      font-weight: 500;
      color: black;
      text-shadow: floralwhite;
      position: relative;
      top: 170px;
      left: 13.76px;
      width: min-content;
    }
  }
  #mainIndex #Hero .tiende {
    position: absolute;
    top: 500px;
    left: 100px;
    background-color: gainsboro;
    color: black;
    border-radius: 50px;
    padding: 10;
    text-decoration: none;
  }
  #mainIndex #Hero .tiende:hover {
    background-color: gray;
  }
  @media (max-width: 480px) {
    #mainIndex #Hero .tiende {
      position: absolute;
      top: 600px;
      left: 150.61px;
      background-color: black;
      color: gainsboro;
      border-radius: 50px;
      padding: 10;
    }
  }
  #mainIndex #Hero .subtitulo {
    position: relative;
    top: 200px;
    left: 100px;
    font-size: 30px;
    width: fit-content;
  }
  @media (max-width: 480px) {
    #mainIndex #Hero .subtitulo {
      top: 210px;
      left: 92.65px;
      font-size: 40px;
      color: black;
    }
  }
  @media (max-width: 480px) {
    #mainIndex #Hero {
      background-position: 80%;
      height: 100%;
      width: 100%;
    }
  }
  
  #bodyRopas {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  #bodyRopas #mainRopas {
    width: 100%;
    height: auto;
    background-image: url(../recursos/fondoropas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
  }
  #bodyRopas #mainRopas .tienda-ropas {
    text-align: center;
    font-weight: 700;
    width: fit-content;
  }
  @media (max-width: 480px) {
    #bodyRopas #mainRopas .tienda-ropas {
      top: 113px;
      position: relative;
      left: 156px;
      font-weight: 800;
    }
  }
  #bodyRopas #mainRopas #buzosBootstrap {
    margin-top: auto;
    margin-bottom: 150px;
  }
  #bodyRopas #mainRopas #buzosBootstrap .tarjeta:hover {
    transform: scale(1.1, 1.1);
    transition: all 0.5s ease;
  }
  #bodyRopas #mainRopas #buzosBootstrap .tarjeta .btncomprar {
    background-color: black;
    border: none;
  }
  #bodyRopas #mainRopas #buzosBootstrap .tarjeta .btncomprar:hover {
    background-color: grey;
  }
  #bodyRopas #mainRopas #remerasBootstrap {
    margin-top: auto;
    margin-bottom: 150px;
  }
  #bodyRopas #mainRopas #remerasBootstrap .tarjeta:hover {
    transform: scale(1.1, 1.1);
    transition: all 0.5s ease;
  }
  #bodyRopas #mainRopas #remerasBootstrap .tarjeta .btncomprar {
    background-color: black;
    border: none;
  }
  #bodyRopas #mainRopas #remerasBootstrap .tarjeta .btncomprar:hover {
    background-color: grey;
  }
  #bodyRopas #mainRopas #zapatillasBootstrap {
    margin-top: 150px;
    margin-bottom: 150px;
  }
  #bodyRopas #mainRopas #zapatillasBootstrap .tarjeta:hover {
    transform: scale(1.1, 1.1);
    transition: all 0.5s ease;
  }
  @media (max-width: 480px) {
    #bodyRopas #mainRopas #zapatillasBootstrap .tarjeta:hover {
      transform: none;
    }
  }
  #bodyRopas #mainRopas #zapatillasBootstrap .tarjeta .btncomprar {
    background-color: black;
    border: none;
  }
  #bodyRopas #mainRopas #zapatillasBootstrap .tarjeta .btncomprar:hover {
    background-color: grey;
  }
  
  .main-sobre-nosotros {
    background-image: url(../recursos/fondoropas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    height: 123vh;
    padding: 0;
  }
  @media (max-width: 480px) {
    .main-sobre-nosotros {
      background-position: 9%;
      height: 100%;
      width: 100%;
    }
  }
  .main-sobre-nosotros #sobreNosSec {
    width: 100%;
    height: 100%;
    position: relative;
    top: -12px;
  }
  @media (max-width: 480px) {
    .main-sobre-nosotros #sobreNosSec {
      top: 57px;
      left: unset;
    }
  }
  .main-sobre-nosotros #sobreNosSec #dondeEstamos {
    font-size: 40px;
    font-weight: 500;
    position: absolute;
    top: 60px;
    left: 25px;
  }
  .main-sobre-nosotros #sobreNosSec .ciudadc {
    font-size: 25px;
    position: absolute;
    top: 150px;
    left: 25px;
  }
  .main-sobre-nosotros #sobreNosSec .vulkanoc {
    font-size: 20px;
    position: absolute;
    top: 190px;
    left: 25px;
  }
  .main-sobre-nosotros #sobreNosSec .ciudadm {
    font-size: 25px;
    position: absolute;
    top: 270px;
    left: 25px;
  }
  .main-sobre-nosotros #sobreNosSec .vulkanom {
    font-size: 20px;
    position: absolute;
    top: 310px;
    left: 25px;
  }
  .main-sobre-nosotros .mapa {
    text-align: center;
    position: absolute;
    top: 100px;
    right: 50;
  }
  @media (max-width: 480px) {
    .main-sobre-nosotros .mapa {
      top: 470px;
      width: 551px;
    }
  }
  .main-sobre-nosotros .parrafo-sobrenosotros {
    text-align: justify;
    position: relative;
    bottom: 243px;
    width: 65%;
    left: 16px;
  }
  @media (max-width: 480px) {
    .main-sobre-nosotros .parrafo-sobrenosotros {
      text-align: justify;
      position: relative;
      bottom: -90px;
      width: 93%;
      left: 15px;
    }
  }
  
  @media (max-width: 480px) {
    .footer-sobrenosotros {
      background-color: rgb(62, 61, 61);
      position: relative;
      height: 75px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      flex-wrap: wrap;
      bottom: -460px;
    }
  }
  
  #herosk {
    background-image: url(../recursos/fondoropas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    height: 95vh;
  }
  #herosk #tituleskate {
    text-align: center;
    position: relative;
    top: 68px;
    left: 510px;
    color: white;
    width: fit-content;
  }
  @media (max-width: 480px) {
    #herosk #tituleskate {
      right: -91.04;
      top: 88px;
      position: relative;
      left: 100px;
    }
  }
  #herosk #tituleskate .estilo-skate {
    font-family: "Inter", sans-serif;
    font-weight: 900;
  }
  #herosk .carrouselbt {
    position: relative;
    top: 95px;
  }
  
  @media (max-width: 480px) {
    .footer-skateboards {
      background-color: rgb(62, 61, 61);
      position: relative;
      height: 75px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      flex-wrap: wrap;
      bottom: -472px;
    }
  }
  
  